<h2>Club Runs &amp; Training</h2>
<div class="alert alert-warning" role="alert">
  England Athletics have
  <a
    href="https://www.englandathletics.org/athletics-and-running/news/coronavirus-statement/"
    >released a statement</a
  >
  advising that all face-to-face activity such as club training sessions,
  events, competitions, club committee and face-to-face meetings, athlete camps,
  running groups and social events should be suspended until at least the end of
  April. Therefore Reading Joggers will follow this advice. Please
  <a routerLink="/contact">contact us</a> if you have any questions or
  concerns.
</div>
<event-item *ngFor="let event of events" [event]="event"></event-item>
