<h2>Club Runs & Training</h2>
<p>
  Our regular club runs are held every week on Tuesday and Thursday and start at
  either the
  <a
    href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b"
    target="_blank"
    >Beansheaf Community Center, Reading, RG31 7AW</a
  >
  or (usually on the last Tuesday of the month) from
  <a
    href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc"
    >Prospect Park, Main Car Park, RG30 2ND</a
  >. Please see below for details.
</p>
<p>
  On <strong>Thursdays</strong>, in addition to a regular club run, we hold
  training sessions and our
  <a routerLink="/events/summer-handicap">Summer Handicap</a> series. The
  location and content of these sessions vary, so please see below for details.
</p>
<p>
  For all evening sessions, including training and the Summer Handicap, we meet
  at 7:00pm for a 7:20pm start.
</p>
<p>
  Our regular club runs last about 45 - 60 minutes and cover from 4 to 7 miles.
  There are several running groups to choose from and each group runs at a
  different pace, from ~11:30 min/mile for the slowest to about ~8 min/mile for
  the fastest. We can also arrange for an additional slower group if required so
  there is ample choice for runners and joggers of all abilities. We use a dozen
  or more well-tried routes around Calcot and Tilehurst, often on woodland
  trails, canal and lakes during the lighter summer evenings, but choose the
  local well-lit pavements during the winter. Throughout the year, we offer
  pleasant running to anyone who prefers not to train alone. Each group has a
  leader appointed by the Club Captain, or his deputy, to show the way around
  the route. The group leader will also try to find an experienced runner to
  stay with anyone lagging behind, and deal with any minor incidents that may
  happen, but it must be stressed that runners take part at their own risk.
</p>
<h3>Schedule</h3>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club run @ Beansheaf</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Tuesday 1st January 2018, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> for a
      club run.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      High Intensity Training (HIT) or High Intensity Interval Training (HIIT) @
      Old Bath Road, Theale
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 3rd January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> or
      <a routerLink="/find-us/theale">Theale</a>.
    </p>
    <p class="card-text">
      This session will be on the old A4 at Theale. It is well lit.
    </p>
    <p class="card-text">
      You can either meet at the Beansheaf Community Centre or at the session
      site.
    </p>
    <p class="card-text">
      1. You can go over the junction 12 motorway roundabout, towards the Theale
      bypass, and turn right at the next roundabout towards Theale. At the
      T-junction mini roundabout turn right and park up near the barrier.
    </p>
    <p class="card-text">
      2. If you decide to park at Beansheaf you can then jog to the session site
      as a warm up. You turn right into Sainsbury's and then left into Pincents
      Lane, passing Porsche Cars to your right and Dunelm to your left and head
      towards the footbridge over the motorway. Arthur will be going direct to
      the site.
    </p>
    <p class="card-text">
      This is a minimum mileage activity which can prove as effective as
      Interval Training. It can improve the cardiovascular fitness as much as an
      hour of moderate level aerobic running (Tuesday evenings) The short bouts
      of exercise can improve muscle fitness and performance comparable to
      several weeks of traditional endurance training if it was done on a
      regular basis. However we are going to use it as part of the overall
      training sessions. It also improves the utilisation of oxygen to help the
      body rid itself of unwanted lactic acid.
    </p>
    <p class="card-text">
      There will be a thorough warm up including some drills.
    </p>
    <p class="card-text"></p>
    <ul>
      <li>4 to 6 x 60 metre strides before you start the session.</li>
      <li>6 x (Sprint 15 secs + 15 secs rest) at 75-85% effort.</li>
      <li>2 minute rest before next set.</li>
      <li>6 x (Sprint 20 secs + 20 secs rest) at 85-90% effort</li>
      <li>3 minute rest before next set.</li>
      <li>8 x (Sprint 20 secs + 25 secs rest) at 90-95% effort.</li>
      <li>4 minute rest before next set.</li>
      <li>2 x (Sprint 15 secs + 30 secs rest) at 95 + effort.</li>
    </ul>
    <p class="card-text">
      Possibly 2 sets or 1 complete set and part of the second set. This is a
      short session but it is hard. Gentle warm down followed by stretch down to
      finish.
    </p>
    <p class="card-text">
      Aim: To improve your aerobic and anaerobic capacity and running
      efficiency.
    </p>
    <p class="card-text">Arthur will control this with a whistle.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club run @ Beansheaf</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Tuesday 8th January 2018, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> for a
      club run.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      500m Scorpions @ Lansdowne Road / Grafton Road Circuit
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 10th January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">Meet at the venue.</p>
    <p class="card-text">
      This session based on Lansdowne Road and Grafton Road, which lies between
      Mayfair and Halls Road.
    </p>

    <p class="card-text">
      As the circuit is 500m it is ideal for tonight's session.
    </p>
    <p class="card-text">
      The first 400m is at just under 10K pace and the final 100m at a faster
      pace. Each 500m will be followed by a 2 minute recovery. The faster 100m
      is NOT an all out sprint, but more like your finishing burst at the end of
      a race.
    </p>
    <p class="card-text">The session will last 35-40 Minutes.</p>
    <p class="card-text">
      During your recovery period, keep moving, walk or a very gentle jog and
      please do not stay on the path, to allow others to pass freely.
    </p>
    <p class="card-text">
      About 600-700 metres west of the Meadway Sports Centre you turn left off
      The Meadway into Halls Road.<br />
      Take the second right off Halls Road into Burlington Road.<br />
      At the end of Burlington Road is Lansdowne Road. Park safely on Lansdowne
      Road, but please do not block entrances to driveways.<br />
      You can also approach it from Langley Hill. Up Langley Hill to the
      roundabout and turn right into Halls Road.<br />
      Then take the second left into Burlington Road. (The post code for
      Burlington Road is RG30 4QG)
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club run @ Beansheaf</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Tuesday 15th January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> for a
      club run.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Up and Down @ Prospect Park</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 17th January 2019, 7pm for a 7:20pm start
    </h6>

    <p class="card-text">500m - 250m up and 250m down</p>

    <p class="card-text">
      Start at tennis courts and run up towards the Mansion House and then down
      toward the bowling green. <br />30 seconds jog or active recovery.
    </p>
    <p class="card-text">
      Then return to the tennis courts. <br />30 seconds jog or active recovery.
    </p>
    <p class="card-text">Please keep to the left in each direction.</p>
    <p class="card-text">
      Repeat the above until the set time is reached (about 35 to 40 minutes).
    </p>
    <p class="card-text">
      Aim: Correct running uphill, maintaining the effort at the top and then
      correct relaxed running downhill
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club run @ Beansheaf</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Tuesday 22nd January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> for a
      club run.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">800m Intervals @ The Chase</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 24th January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      This session will be held on
      <a routerLink="/find-us/other-locations">The Chase</a> (about 800m from
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> - you
      can partly warm up getting there).
    </p>
    <p class="card-text">
      800m intervals with 60 seconds active recovery. After every three sets
      take a 2 minute recovery.
    </p>
    <p class="card-text">
      Repeat above until time set of 35-40 minutes is finished.
    </p>
    <p class="card-text">
      Based on 10K race speed (which means you will be going a little faster
      than your 10K pace. See example below). It would help if you can remember
      your latest 10K time.
    </p>
    <p class="card-text">
      Example:- If your 10K race speed is 50:00 then your 400/800m time is
      2:00/4:00. Your target would be 1:55/3:50. This involves a gentle uphill
      and downhill
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club run @ Prospect Park</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Tuesday 29th January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      A club run starting from
      <a routerLink="/find-us/prospect-park">Prospect Park</a>.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Beat your distance @ Old Bath Road, Theale</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 31st January 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> or
      <a routerLink="/find-us/theale">Theale</a>.
    </p>
    <p class="card-text">
      This session will be on the old A4 at Theale. It is well lit.
    </p>
    <p class="card-text">
      1. You can go over the junction 12 motorway roundabout, towards the Theale
      bypass, and turn right at the next roundabout towards Theale. At the
      T-junction mini roundabout turn right and park up near the barrier.
    </p>
    <p class="card-text">
      2. If you decide to park at Beansheaf you can then jog to the session site
      as a warm up. You turn right into Sainsbury's and then left into Pincents
      Lane, passing Porsche Cars to your right and Dunelm to your left and head
      towards the footbridge over the motorway. Arthur will be going direct to
      the site.
    </p>
    <p class="card-text">
      Fast becoming a favourite session, but limited during the winter because
      of finding enough space that is lit. It is run over 200m laps (300 or 400m
      in the summer).
    </p>
    <p class="card-text">
      You will run for three minutes and then you will have a two minute active
      recovery.
    </p>
    <p class="card-text">there will be 5 or 6 sets in total.</p>
    <p class="card-text">
      There will be a thorough warm up including some drills.
    </p>
    <p class="card-text">Arthur will control this session with a whistle.</p>
    <p class="card-text">More details on the night.</p>
  </div>
</div>
