<div class="card">
  <div class="card-body">
    <h5 class="card-title">Beat your distance @ Old Bath Road, Theale</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Thursday 4th April 2019, 7pm for a 7:20pm start
    </h6>
    <p class="card-text">
      Meet at
      <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> or
      <a routerLink="/find-us/theale">Theale</a>.
    </p>
    <p class="card-text">
      This session will be on the old A4 at Theale. It is well lit.
    </p>
    <p class="card-text">
      1. You can go over the junction 12 motorway roundabout, towards the Theale
      bypass, and turn right at the next roundabout towards Theale. At the
      T-junction mini roundabout turn right and park up near the barrier.
    </p>
    <p class="card-text">
      2. If you decide to park at Beansheaf you can then jog to the session site
      as a warm up. You turn right into Sainsbury's and then left into Pincents
      Lane, passing Porsche Cars to your right and Dunelm to your left and head
      towards the footbridge over the motorway. Arthur will be going direct to
      the site.
    </p>
    <p class="card-text">
      Fast becoming a favourite session, but limited during the winter because
      of finding enough space that is lit. It is run over 200m laps (300 or 400m
      in the summer).
    </p>
    <p class="card-text">
      You will run for three minutes and then you will have a two minute active
      recovery.
    </p>
    <p class="card-text">there will be 5 or 6 sets in total.</p>
    <p class="card-text">
      There will be a thorough warm up including some drills.
    </p>
    <p class="card-text">Arthur will control this session with a whistle.</p>
    <p class="card-text">More details on the night.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">AGM @ The Mansion House, Prospect Park</h5>
    <h6 class="card-subtitle mb-2 text-muted">Wednesday 10th April 2019 at 7pm</h6>
    <p class="card-text">Club AGM at the Mansion House. Arrive 7pm for 7.30pm. Coffee available, drinks in the bar afterwards.</p>
    <p class="card-text">See the <a href="https://www.facebook.com/events/223338441945670/">Facebook event</a> for more details.</p>
  </div>
</div>