<h2>Lansdowne Road / Grafton Road Circuit (Burlington Road)</h2>
<p>We meet here for some training sessions. Check the <a routerLink="/events">events</a> pages for details.</p>
<h4>Directions</h4>
<p>About 600-700 metres west of the Meadway Sports Centre you turn left off The Meadway into Halls Road.</p>
<p>Take the second right off Halls Road into Burlington Road.</p>
<p>At the end of Burlington Road is Lansdowne Road. Park safely on Lansdowne Road, but please do not block entrances to driveways.</p>
<p>You can also approach it from Langley Hill. Up Langley Hill to the roundabout and turn right into Halls Road.</p>
<p>Then take the second left into Burlington Road.</p>
<h4>Address</h4>
<p><a href="https://goo.gl/maps/4vGB5rsR4RG2">Burlington Road, Reading, RG30 4QG</a></p>