<h2>Social Media</h2>
<h3>Facebook</h3>
<a href="https://www.facebook.com/groups/ReadingJoggers"
  >Follow us on Facebook (members only)</a
>
<h3>Twitter</h3>
<a
  href="https://twitter.com/ReadingJoggers?ref_src=twsrc%5Etfw"
  class="twitter-follow-button"
  data-size="large"
  data-show-count="false"
  >Follow @ReadingJoggers</a
><script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
<h3>Instagram</h3>
<a href="https://www.instagram.com/readingjoggers/">Follow us on Instagram </a>
<h3>Strava</h3>
<a href="https://www.strava.com/clubs/30734"
  >Join our Strava club (members only)</a
>
<h3>Member Blogs</h3>
<p>
  Do you have a blog you would like to be added here?
  <a routerLink="/contact">Let us know</a>.
</p>
