<a href="https://www.google.com/maps/place/Reading+RG30+4QF,+UK/@51.4537445,-1.045622,17z/data=!3m1!4b1!4m2!3m1!1s0x4876996236af82bb:0xaf271528fcd2db75?hl=en-GB">Grafton
    Road/Lansdowne Road, RG30 4QF.</a>
  <br> Session will start at 19:20
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br>This session based on Lansdowne Road and Grafton Road, which lies between Mayfair and Halls Road.
  <br>
  <br>As the circuit is 500m it is ideal for tonight's session.
  <br>
  <br>The first 400m is at just under 10K pace and the final 100m at a faster pace. Each 500m will be followed by a 2
  minute recovery. The faster 100m is NOT an all out sprint, but more like your finishing burst at the end of a race.
  <br>
  <br>The session will last 35-40 Minutes.
  <br>
  <br>During your recovery period, keep moving, walk or a very gentle jog and please do not stay on the path, to
  allow others to pass freely.
  <br>
  <br>About 600-700 metres west of the Meadway Sports Centre you turn left off The Meadway into Halls Road.
  <br>Take the second right off Halls Road into Burlington Road.
  <br>At the end of Burlington Road is Lansdowne Road. Park safely on Lansdowne Road, but please do not block
  entrances to driveways.
  <br>You can also approach it from Langley Hill. Up Langley Hill to the roundabout and turn right into Halls Road.
  <br>Then take the second left into Burlington Road. (The post code for Burlington Road is RG30 4QG)