
          <p>The 2018-19 Reading Joggers Club Championship is now underway.</p>
          <p>
              Please follow the link to see the current standings - <a href="https://tinyurl.com/RJ-Champs-2018-19">https://tinyurl.com/RJ-Champs-2018-19</a>
          </p>
          <p>
              The rules/format of the Championship, and list of races are as follows:
          </p>
          <ul>
              <li>To qualify you need to run at least one race at each distance (5 Miles, 10k, 10Miles, Half Marathon).
              </li>
              <li>If you run more than one race at the same distance i.e. Two 10ks the race with the highest points will
                  count towards your championship score.
              </li>
              <li>You’re competing against members in your own age category.
              </li>
              <li>Men: Senior (under 40), M40-49, M50-59, M60-69, M70+
              </li>
              <li>Ladies: Senior (under 35), F35-44, F45-54, F55-64, F65+
              </li>
              <li>Your Championship age category is determined by your age on 1st April (start of club championship).
              </li>
              <li>Within each age category, the fastest finisher scores 50 points, the next fastest 49 points, and so on.
              </li>
              <li>For your race result to qualify for the Championship you must run in Club Vest/T-shirt.
              </li>
              <li>Times will be based on individual chip times rather than gun times, where provided.</li>
          </ul>

          <ul>
              <li>5 miles - Marlow 5 (13th May), Bracknell Forest 5 (20th June), Summer Handicap (16th August)</li>
              <li>10k - Green Park (20th May), Thames 10k Beale Park (5th July), Woodcote (January - date TBC)</li>
              <li>10 miles - Tadley (14th October), Gutbuster (30th December), Maidenhead Easter 10 (19th April)</li>
              <li>Half marathon - Maidenhead (2nd September), Wokingham (24th February), Reading (March - date TBC)</li>

          </ul>
