# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
    ng build --prod
  displayName: 'npm install and build'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    ArtifactName: dist

- task: FtpUpload@1
  displayName: 'FTP Upload'
  inputs:
    serverEndpoint: 'Reading Joggers FTP Server'
    rootDirectory: '$(Build.ArtifactStagingDirectory)'
    remoteDirectory: /test
    preservePaths: true