<h2>Summer Handicap</h2>


<div class="alert alert-info" role="alert">
  The 2018 Summer Handicap series is now over. Dates for 2019 will be confirmed nearer the time.
</div>

<p>You only have to complete <strong>four</strong> of the <strong>eight</strong>, or five of the eight if you have not
  taken part in the summer handicap
  before</p>
<p>We meet in the Car Park at the top of
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
    Park, Main car park, RG30 2ND.</a> by 19:00. The first runners away no later than 19:20.</p>
<p>Points are awarded as follows : 1 Point for First place, 2 Points for Second place, 3 Points for Third place
  ...and so on.</p>
<p>The winner will be the member with the lowest number of points who has completed the required number of races.</p>
<p>The first handicap is 2.5 miles, the next six are 5 miles and the last one is 2.5 miles.</p>
<p>
  <a href="https://www.strava.com/segments/12125957">Summer Handicap Strava segment</a>


  <h3>TBC : Summer Handicap 1</h3>
  2.5 miles

  <h3>TBC : Summer Handicap 2</h3>
  5 miles

  <h3>TBC : Summer Handicap 3</h3>
  5 miles

  <h3>TBC : Summer Handicap 4</h3>
  5 miles

  <h3>TBC : Summer Handicap 5</h3>
  5 miles

  <h3>TBC : Summer Handicap 6</h3>
  5 miles

  <h3>TBC : Summer Handicap 7</h3>
  5 miles

  <h3>TBC : Summer Handicap 8</h3>
  2.5 miles