<div class="about-section">
  <h2 class="heading text-center">Club Kit</h2>
  <div class="container">
        <div class="ministries-sec">
              Club colours/kit must be worn when you compete at:
              <div class="col-md-12 what-do">
                    <ul>
                          <li>Any of the races forming our Club Championship</li>
                          <li>At any event where we compete as a team.</li>
                          <br />
                    </ul>
              </div>
              <p>Most races organised under England Athletics (EA) rules include a discount for EA afflilated club. Therefore
                    we strongly encourage members to wear club colours/kit during races.</p>
              <p>Wearing RJ colours allows you to spot other RJ membes and also helps build a good club spirit. Its also
                    acts as great advertising for prospective new members.</p>
              <br />
              <h4>Please fill in the <a href="https://tinyurl.com/RJ-Kit-Order">online order form</a> if you wish to
                    place an order.</h4>
              <div class="col-md-12 what-do">
                    <ul>
                          <li>Its recommend you try your size before you place your order. Order once placed cannot be
                                exchanged for different size.</li>
                          <li>Kit is ordered when we have enough items to place an order with our supplier. Please keep
                                an eye out on facebook for advance warning when orders are going to be placed.</li>
                    </ul>
              </div>
        </div>
  </div>

  <div class="container">
        <div class="gallery">
              <h4 class="text-center">RJ T-shirt and Vests</h4>
              <div class="col-md-12">
                    <img src="gallery/k001.jpg" alt="RJ Vest & T-shirt" width="100%" />
              </div>
        </div>
  </div>

  <div class="container">
        <div class="gallery">
              <h4 class="text-center">RJ Hoodies and Fleece</h4>
              <div class="col-md-6 gallery-grid">
                    <a class="example-image-link" href="gallery/k002.jpg" data-lightbox="example-set" data-title="Hoodies Front"><img
                                class="example-image" src="gallery/k002.jpg" alt=" " /></a>
              </div>
              <div class="col-md-6 gallery-grid">
                    <a class="example-image-link" href="gallery/k003.jpg" data-lightbox="example-set" data-title="Hoodies Back"><img
                                class="example-image" src="gallery/k003.jpg" alt=" " /></a>
              </div>
        </div>
  </div>

</div>