<li class="list-group-item">
  <h3>15-Mar-2017 : Club Run</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf Community Centre, RG31 7AW.</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> Meet at the Beansheaf Community Centre as normal for a club run.
  <br>
</li>

<li class="list-group-item">
  <h3>29-Mar-2017 : Club Run - Prospect Park</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect Park, Main car park, RG30 2ND.</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> The club run will take place from Prospect Park on the last Tuesday of the month.
</li>

<li class="list-group-item">
  <h3>13-Mar-2017 : Club Run - Rushall Farm </h3>
  Meet at
  <a href="https://www.google.com/maps/place/Rushall+Farm+Cottage,+Scratchface+Ln,+Bradfield,+Reading,+West+Berkshire+RG7+6DL,+UK/@51.4492457,-1.1557671,17z/data=!3m1!4b1!4m2!3m1!1s0x4876a26bb749c081:0xd47cf60d0e1a3cd4?hl=en-GB">
    Rushall Manor Farm, RG7 6DL</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> The club run will take place from Rushall Farm instead of Beansheaf.
</li>

<li class="list-group-item">
  <h3>25-Jul-2017 : Club Run - Five A Day Market Garden </h3>
  Meet at
  <a href="https://goo.gl/maps/UQbSY3Z9Di42"> Five A Day Market Garden, The Street, Englefield, RG7 5EL</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> The club run will take place from 'Five A Day Market Garden' instead of Beansheaf.
</li>