<div role="tabpanel" class="tab-pane fade" id="ConEvents" aria-labelledby="ConEvents-tab">
  <div class="ministries-sec">
    <div class="container">
      <div class="col-md-10 what-do">
        <ul>
          <li>Reading Joggers Consistency League runs from April to March.</li>
          <li>The League will consist of local events spread reasonably evenly throughout the year.</li>
          <li>The league recognises sustained performance over a number of events and distances, rather than one outstanding
            performance during the period.</li>
          <li>Everybody gets a WAVA (World Association of Veteran Athletes) score and the member with the highest score wins.</li>
          <li>The winner of each race is given 50 points and then down with second given 49 points, third 48 points and so on.
          </li>
          <li>Each member can do as many races in the consistency league as they like, but only their best seven will count towards
            their final score. </li>
          <li>Members are advised to wear their club colours to be eligible for points. </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h3>02-May-2016 : Shinfield 10K</h3>
      <a href="http://www.readingroadrunners.org/shinfield.html" target="_blank">http://www.readingroadrunners.org/shinfield.html</a>
    </li>
    <li class="list-group-item">
      <h3>15-May-2016 : GreenPark Royal Berkshire 10K </h3>
      <a href="http://www.royalberkshire10k.com/" target="_blank">http://www.royalberkshire10k.com/</a>
    </li>
    <li class="list-group-item">
      <h3>12-Jun-2016 : Wargrave 10K</h3>
      <a href="http://wargraverunners.org.uk/running-events/wargrave-charity-10k-fun-run/wargrave-charity-10k/" target="_blank">Wargrave 10k</a>
    </li>
    <li class="list-group-item">
      <h3>02-Jul-2016 : Saturday night Marathon</h3>
      Thames Valley park, RG6 1PQ - 17.00pm Saturday 02nd July 2015
      <br>
      <a href="https://saturdaynightmarathon.com/thames-trail-half-marathon-july/" target="_blank">https://saturdaynightmarathon.com/</a>
    </li>
    <li class="list-group-item">
      <h3>13-Jul-2016 : Thames 10K</h3>
      Beale Park, Pangbourne nr Reading - 7.00pm Wednesday 15th July 2015
      <br>
      <a href="http://www.thames10k.co.uk/" target="_blank">http://www.thames10k.co.uk/</a>
    </li>
    <li class="list-group-item">
      <h3>28-Aug-2016 : Englefield 10K</h3>
      <a href="http://www.englefieldrun.info/" target="_blank">http://www.englefieldrun.info/</a>
    </li>
    <li class="list-group-item">
      <h3>11-Sep-2016 : Pangbourne 10K</h3>
      Pangbourne multi-terrain10k race on an undulating route through the beautiful woods and countryside overlooking Pangbourne,
      Berkshire.
      <br>
      <a href="http://www.pangbourne10k.org.uk/" target="_blank">http://www.pangbourne10k.org.uk/</a>
    </li>
    <li class="list-group-item">
      <h3>27-Sep-2016 : Mortimer 10k</h3>
      The course is undulating through the country lanes of Mortimer and starts and finishes on the Mortimer Fairground, RG7 3SW.
      <br>
      <a href="http://www.readingroadrunners.org/mortimer.html" target="_blank">http://www.readingroadrunners.org/mortimer.html</a>
    </li>
    <li class="list-group-item">
      <h3>02-Oct-2016 : Reading O2O 10k</h3>
      <a href="http://www.purplepatchrunning.com/index.php/reading-o2o-10k" target="_blank">Purple Patch Reading O2O 10k</a>
    </li>
    <li class="list-group-item">
      <h3>09-Oct-2016 : Henley Half Marathon</h3>
      <a href="http://www.rotary-ribi.org/clubs/page.php?PgID=333593&ClubID=540" target="_blank">Henley Half Marathon</a>
    </li>
    <li class="list-group-item">
      <h3>30-Oct-2016 : Sulham Woods XC (RJ Winter handicap #1)</h3>
      We meet in the Car Park at the top of
      <a href="https://www.google.com/maps/place/51%C2%B027'57.2%22N+1%C2%B004'04.6%22W/@51.465904,-1.0701257,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=en"
        target="_blank">Sulham Hill</a> by 09:20 am for 09:30 am and try to get the first runners away within 10 minutes (09:40 am).
      <br> The total distance is 7.58 miles over three laps.
    </li>
    <li class="list-group-item">
      <h3>11-Dec-2016 : Tadley Christmas Cross Country</h3>
      <a href="http://tadleyrunners.co.uk/xmas-xc/" target="_blank">http://tadleyrunners.co.uk/xmas-xc/</a>
    </li>
    <li class="list-group-item">
      <h3>08-Jan-2017 : Woodcote 10k</h3>
      The Woodcote 10k is not a gentle Sunday jog. Your descents and ascents each total 499ft.
      <br> Sunday 10th January 2016 10.30am, Woodcote Village Green, Oxforshire.
      <br>
      <a href="http://www.woodcote10k.org.uk/" target="_blank">http://www.woodcote10k.org.uk/</a>
    </li>
    <li class="list-group-item">
      <h3>19-Feb-2017 : Reading Roadrunners Bramley 10/20</h3>
      Reading Roadrunners, in conjunction with the Sweatshop, will hold the Bramley 20/10 on Sunday 14th February 2016, at Bramley
      Primary School, RG26 5AH.
      <br>
      <a href="http://www.readingroadrunners.org/bramley.html" target="_blank">http://www.readingroadrunners.org/bramley.html</a>
    </li>
    <li class="list-group-item">
      <h3>26-Feb-2017 : Goring 10k</h3>
      Set in beautiful countryside and with chip-timing, closed roads and free flapjack, the Goring 10k is regarded as one of the
      most enjoyable 10k races in the UK.
      <br>
      <a href="http://www.goring10k.com/" target="_blank">http://www.goring10k.com/</a>
    </li>
    <li class="list-group-item">
      <h3>19-Mar-2017 : Vitality Reading Half Marathon </h3>
      <a href="http://www.readinghalfmarathon.com/" target="_blank">http://www.readinghalfmarathon.com/</a>
    </li>
  </ul>
</div>