<div class="ministries-sec">
  <div class="container">
    <div class="col-md-10 what-do">
      <ul>
        <li>Schedule for RJ 32nd
          <b>Summer Handicap Series</b> (2018)</li>
        <li>You only have to complete FOUR of the EIGHT, or five of the eight if you have not taken part in the summer handicap
          before</li>
        <li>We meet in the Car Park at the top of
          <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
            Park, Main car park, RG30 2ND.</a> by 19:00. The first runners away no later than 19:20.</li>
        <li>Points are awarded as follows : 1 Point for First place, 2 Points for Second place, 3 Points for Third place
          ...and so on.</li>
        <li>The winner will be the member with the lowest number of points who has completed the required number of races.</li>
        <li>The first handicap is 2.5 miles, the next six are 5 miles and the last one is 2.5 miles.</li>
        <li>
          <a href="https://www.strava.com/segments/12125957">Summer Handicap segment (on Strava)</a>
      </ul>
    </div>
  </div>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <h3>Thursday 12-Apr-2018 : Summer Handicap #1</h3>
    The first handicap is 2.5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 3rd May 2018 : Summer Handicap #2</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 24th May 2018 : Summer Handicap #3</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 7th June 2018 : Summer Handicap #4</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 28th June 2018 : Summer Handicap #5 (new date)</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 26th July 2018 : Summer Handicap #6</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 16th August 2018 : Summer Handicap #7</h3>
    5 miles.
  </li>
  <li class="list-group-item">
    <h3>Thursday 6th September 2018 : Summer Handicap #8</h3>
    The last handicap is 2.5 miles.
  </li>
</ul>