<p>&nbsp;</p>
<ul class="list-group">

  <li class="list-group-item">
    <h3>Regular Club Runs - Tuesdays and Thursdays at 7pm</h3>
    Our regular club runs are held every week on Tuesday and Thursday and start at either the
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b"
      target="_blank">Beansheaf Community Center, Reading, RG31 7AW</a> or (usually on the last Tuesday of the month) from <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
      Park, Main Car Park, RG30 2ND</a>. Please see below for details.
    <br>
    <br>On Thursdays, in addition to a regular club run, we hold training sessions and our Summer Handicap series. The location and content of these sessions vary, so please see below for details.
    <br>
    <br>For all evening sessions, including training and the Summer Handicap, we meet at 7:00pm for a 7:20pm start.
    <br>
    <br> Our regular club runs last about 45 - 60 minutes and cover from 4 to 7 miles. There are several running groups to
    choose from and each group runs at a different pace, from ~11:30 min/mile for the slowest to about ~8 min/mile for the
    fastest. We can also arrange for an additional slower group if required so there is ample choice for runners and joggers
    of all abilities. We use a dozen or more well-tried routes around Calcot and Tilehurst, often on woodland trails, canal
    and lakes during the lighter summer evenings, but choose the local well-lit pavements during the winter. Throughout the
    year, we offer pleasant running to anyone who prefers not to train alone. Each group has a leader appointed by the Club
    Captain, or his deputy, to show the way around the route. The group leader will also try to find an experienced runner
    to stay with anyone lagging behind, and deal with any minor incidents that may happen, but it must be stressed that runners
    take part at their own risk.
  </li>

  <!-- Events : Monthly  ---------------------------------------------->

  <li class="list-group-item">
    <h3>Thursday 2nd August 2018 : Zigzag Runs - Beansheaf</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf
      Community Centre, RG31 7AW.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br>This session will be on grass.
    <br>
    <br>This can be either a speed and acceleration drill or a strength-endurance session. This is dependent of the length
    of the zigzags. This session will be for strength-endurance. A series of six markers are placed at approximately 60m
    intervals. Six 60m sprints are made with approximately 90 degree turns around each marker. Because you have to decelerate
    to get round each marker and then accelerate to the next marker, this will improve both your co-ordination, strength
    and ability to accelerate. As a bonus this will help you in a race situation. You will then jog or walk back (the long
    three sided way) back to the start. Each set will consist of 4 or 5 runs and then a complete recovery of 4-5 minutes
    before the next set. There will be 2 or 3 sets. The long recovery will ensure maximum intensity for each set.
    <br>
    <br>The time for this session will be 35-40 minutes.
  </li>

  <li class="list-group-item">
    <h3>Tuesday 7th August 2018 : Club Run - Beansheaf</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf
      Community Centre, RG31 7AW.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br> Meet at the Beansheaf Community Centre as normal for a club run.
    <br>
  </li>

  <li class="list-group-item">
    <h3>Thursday 9th August 2018 : Training - Prospect Park</h3>
    <br>Meet at
    <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
      Park, Main car park, RG30 2ND.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>This is held on the path between the Bath Road and the Car Park.
    <br>
    <br>There will be 70 seconds of effort followed by 1 minute 50 seconds of active recovery.
    <br>
    <br>The First set will be 4 reps, and then an extra 5 minutes rest.
    <br>
    <br>The second and last set will be 3 or 4 reps.
    <br>
    <br>The session will last between 30 and 35 minutes.
    <br>
    <br>This is aimed at increasing endurance and speed.
    <br>
    <br>I will control this session with a whistle
  </li>

  <li class="list-group-item">
    <h3>Tuesday 14th August 2018 : Club Run - Beansheaf</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf
      Community Centre, RG31 7AW.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br> Meet at the Beansheaf Community Centre as normal for a club run.
    <br>
  </li>

  <li class="list-group-item">
    <h3>Thursday 16th August 2018 : Summer Handicap No. 7 - Prospect Park</h3>
    <br>Meet at
    <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
      Park, Main car park, RG30 2ND.</a>
    <br> Meet at 19:00 for 19:20 start
    <br> Tonight is the seventh of this seasons (32nd) Summer Handicaps - The last of the 5 milers (2 Laps).
    <br> (The last one - 2.5 miles is on the 06 Sept 18)
    <br>
    <br> For those new to the summer handicap, the course is clearly marked and if you turn up early enough there will also
    be a map for you to look at.
    <br>
    <br> Meet at the main car park in Prospect Park at 19:00hrs for the first runner to be away by 19:20.
    <br>
    <br> Please try to turn up on time as this time of the year the light fades quickly - Thankyou.
    <br>
    <br> Further details, Handicap and Start Times to follow.
    <br>
    <br> After the Handicap many will go up to the Mansion House to replace lost liquid and a chat.
  </li>

  <li class="list-group-item">
    <h3>Tuesday 21st August 2018 : Club Run - Beansheaf</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf
      Community Centre, RG31 7AW.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br> Meet at the Beansheaf Community Centre as normal for a club run.
    <br>
  </li>



  <li class="list-group-item">
    <h3>Thursday 23rd August 2018 : Kenyan Hills - Prospect Park</h3>
    <br>Meet at
    <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
      Park, Main car park, RG30 2ND.</a>
    <br> Meet at 19:00 for 19:20 start
    <br> This session is a mixture of grass and trail.
    <br>
    <br> Many runners have a love-hate relationship with hills, often because they approach them incorrectly. They try to
    charge up them as if they don’t exist in order to get them over with as soon as possible. Hills should be a test of patience
    and pacing to enable you to carry on at a comfortable pace and not to be gasping for air and slow up at the top. After
    all if you are going to be racing on hills (and there are not many races without a hill or two) then you should be training
    on them – not all the time, but frequently enough so that when you meet one in a race then you will know how to approach
    it.
    <br>
    <br> Hill running is great for improving your running efficiency, because it can give you the strength training that
    you can get from short intervals, but it can also improve your running form. It forces you, or at least it should do,
    to get you on to the ball of your foot for the next push off. And don’t forget to use your arms to help you get up the
    hill, but stay relaxed.
    <br>
    <br> When you run downhill, the problem is usually the opposite of running uphill, too much backward lean, Shifting your
    weight backwards is a normal reaction as it slows you down. As you run uphill, your whole body should lean into the hill,
    not just from your waist, your foot strike is shifted forward onto the sole of your foot where as running downhill forces
    your foot strike towards your heel and leaning back increases the braking effect and leads to more force going through
    your legs and possibly leading to injury. But since a downhill will give you a ‘free’ increase in your running speed,
    with gravity helping you, you will want to take advantage of this. As your speed increases your cadence will need to
    quicken. You will need to balance your speed from running downhill and running too fast that it upsets your pacing. You
    should not be out of breath at the bottom of the hill.
    <br>
    <br> What do Kenyans Hills give you.....In short.... A better aerobic endurance, improved strength endurance, increased
    running economy, improved stride length and cadence.
    <br>
    <br> This ideal pace is for you to be working at 80-85% of MHR (Maximum Heart Rate), or in plain English you should be
    able to utter 4-5 words at the top (if you're lucky).
    <br>
    <br> The entire session will last 30-35 minutes plus the warm up, cool down and stretching.
  </li>

  <li class="list-group-item">
    <h3>Tuesday 28th August 2018 : Club Run - Prospect Park</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect
      Park, Main car park, RG30 2ND.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br> The club run will take place from Prospect Park on the last Tuesday of the month.
  </li>

  <li class="list-group-item">
    <h3>Thursday 30th August 2018 : 400 - 800m Intervals (or 800m intervals) - Beansheaf</h3>
    Meet at
    <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf
      Community Centre, RG31 7AW.</a>
    <br> Meet at 19:00 for 19:20 start
    <br>
    <br> This session will be held on THE CHASE (about 800m from Beansheaf - you can partly warm up getting there).
    <br> It is run between Grangely Close and Kettering Close.
    <br>
    <br> 400m - 800m - 400m - 800m ...........
    <br>
    <br> Start with 400m followed by 30 second jog recovery. Then 800m followed by 60 seconds jog recovery.
    <br>
    <br> Repeat above until time set of 35-40 minutes is finished.
    <br>
    <br> Based on 10K race speed (which means you will be going a little faster than your 10K pace. See example below). It
    would help if you can remember your latest 10K time.
    <br>
    <br> Example:- If your 10K race speed is 50:00 then your 400/800m time is 2:00/4:00. Your target would be 1:55/3:50.
    This involves a gentle uphill and downhill
  </li>

</ul>
