<div class="ministries-sec">
  <div class="container">
    <div class="col-md-10 what-do">
      <ul>
        <li>Schedule for Reading Joggers 27th
          <b>Winter Handicap Series</b> (2017-18)</li>
        <li>You only have to complete three of the six, or four of the six if you have not run the winter handicap before
          or did not run it last season</li>
        <li>We meet in the Car Park at the top of
          <a href="https://www.google.com/maps/place/51%C2%B027'57.2%22N+1%C2%B004'04.6%22W/@51.465904,-1.0701257,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=en"
            target="_blank">Sulham Hill</a> by 09:20 AM for 09:30 AM start.</li>
        <li>The total distance is 7.58 miles over three laps.</li>
        <li>
          <a href="https://www.strava.com/segments/13109110">Winter Handicap segment (on Strava)</a>
      </ul>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <h3>29-Oct-2017 : Winter Handicap #1</h3>
    Please note, the clocks go back ONE hour so make sure you arrive at the correct time.
  </li>
  <li class="list-group-item">
    <h3>19-Nov-2017 : Winter Handicap #2</h3>
  </li>
  <li class="list-group-item">
    <h3>21-Jan-2018 : Winter Handicap #3</h3>
  </li>
  <li class="list-group-item">
    <h3>04-Feb-2018 : Winter Handicap #4</h3>
  </li>
  <li class="list-group-item">
    <h3>25-Feb-2018 : Winter Handicap #5</h3>
  </li>
  <li class="list-group-item">
    <h3>25-Mar-2018 : Winter Handicap #6</h3>
  </li>
</ul>