<li class="list-group-item">
  <h3>21-Mar-2017 : Kenyan Hills</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect Park, Main car park, RG30 2ND.</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> It is dependant on the state of the ground if we are going to do Kenyan Hills tonight. If the area is unsuitable we will
  still do a session in Prospect Park.
  <br> Many runners have a love-hate relationship with hills, often because they approach them incorrectly. They try to charge
  up them as if they don’t exist in order to get them over with as soon as possible. Hills should be a test of patience and
  pacing to enable you to carry on at a comfortable pace and not to be gasping for air and slow up at the top. After all
  if you are going to be racing on hills (and there are not many races without a hill or two) then you should be training
  on them – not all the time, but frequently enough so that when you meet one in a race then you will know how to approach
  it.
  <br> Hill running is great for improving your running efficiency, because it can give you the strength training that you can
  get from short intervals, but it can also improve your running form. It forces you, or at least it should do, to get you
  on to the ball of your foot for the next push off. And don’t forget to use your arms to help you get up the hill, but stay
  relaxed.
  <br>
  <br> What do Kenyans Hills give you.....In short.... A better aerobic endurance, improved strength endurance, increased running
  economy, improved stride length and cadence.
  <br> This ideal pace is for you to be working at 80-85% of MHR (Maximum Heart Rate), or in plain English you should be able
  to utter 4-5 words at the top (if you're lucky).
  <br> The entire session will last 30-35 minutes plus the warm up, cool down and stretching.
</li>

<li class="list-group-item">
  <h3>19-Mar-2017 : Up and Down</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect Park, Main car park, RG30 2ND.</a>
  <br> Session will start at 19:20
  <br>
  <br> 500m - Continuous 250m Up and 250m down.
  <br> 30 seconds jog recovery between each rep.
  <br>
  <br> Start at tennis courts and run up towards the Mansion House and then down toward the bowling green.
  <br> 30 seconds jog or active recovery.
  <br> Then return to the tennis courts.
  <br> 30 seconds jog or active recovery.
  <br>
  <br> Please keep to the left in each direction.
  <br> Repeat the above until the set time is reached (about 35 to 40 minutes).
  <br>
  <br> Aim:- Correct running uphill, maintaining the effort at the top and then correct relaxed running downhill.
</li>

<li class="list-group-item">
  <h3>19-Mar-2017 : Triangle</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect Park, Main car park, RG30 2ND.</a>
  <br> Session will start at 19:20
  <br>
  <br> This is held on the triangle around the all weather football pitches and children's playground.
  <br> A continuous fartlek session alternating on a flat, uphill and downhill effort with a recovery period in between each
  effort which is also on a flat, uphill and downhill.
  <br> The session will last between 30 and 35 minutes.
  <br> This is aimed at increasing endurance and speed.
</li>

<li class="list-group-item">
  <h3>10-Mar-2017 : Interval training</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Prospect+Park/@51.4482918,-1.0131572,16z/data=!4m2!3m1!1s0x48769bbdeb5b73e5:0xdd1dd918a5735bc">Prospect Park, Main car park, RG30 2ND.</a>
  <br> Session will start at 19:20
  <br>
  <br> This is held on the path between the Bath road and the car park..
  <br> There will be 70 seconds of effort followed by 1 minute 50 seconds of active recovery.
  <br> The First set will be 5 reps, and then an extra 5 minutes rest. The second and last set will be 3 reps.
  <br> The session will last between 30 and 35 minutes.
  <br> This is aimed at increasing endurance and speed.
</li>

<li class="list-group-item">
  <h3>22-Mar-2017 : 400m - 800m - 400m - 800m ...</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf Community Centre, RG31 7AW.</a>
  <br> Session will start at 19:20
  <br>
  <br> This session will be held on
  <a href="https://www.google.com/maps/place/The+Chase,+Calcot,+Reading+RG31+7DE,+UK/@51.4405427,-1.0422339,17z/data=!3m1!4b1!4m5!3m4!1s0x48769be3d276f78d:0x8f029c704a03d116!8m2!3d51.4405427!4d-1.0400452">THE CHASE</a> (about 800m from Beansheaf - you can warm up getting there).
  <br> It is run between Grangely Close and Kettering Close.
  <br>
  <br> Start with 400m followed by 30 second jog recovery. Then 800m followed by 60 seconds jog recovery.
  <br> Repeat above until time set of 35-40 minutes is finished.
  <br>
  <br> Based on 10K race speed (which means you will be going a little faster than your 10K pace. It would help if you can remember
  your latest 10K time.
  <br> Example:- If your 10K race speed is 50:00 then your 400/800m time is 2:00/4:00. Your target would be 1:55/3:50. This involves
  a gentle uphill and downhill.
  <br> There will be a chart available help you calculate you target time based on your 10k time.
  <br>
</li>

<li class="list-group-item">
  <h3>03-Mar-2017 : Hill Session - Four Hills</h3>
  Meet at the corner of
  <a href="https://www.google.com/maps/place/Haywood+Way+(adj+32)/@51.4452844,-1.0246321,17z/data=!4m2!3m1!1s0x48769be99bdf9a0f:0x73fc30624d3887fc">Haywood Way / New Lane Hill, RG30 4QW</a>
  <br> Meet at 19:00 for 19:20 start
  <br>
  <br> Four separate Hills, each with their own characteristics, and each requires a different technique to run each one. They
  are Haywood Way, Fontwell Drive, Lingholm Close and Mandeville Close. The third hill (Lingholm Close) will be used for
  downhill reps.
  <br> There will be 9-10 minutes on each hill, with the recovery being taken going on to the next hill.
  <br> Hill running is good for improving your running efficiency as it not only improves your strength, but also your running
  form.
  <br>
</li>

<li class="list-group-item">
  <h3>10-Mar-2017 : High Intensity Training (HIT)</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Theale,+Reading,+West+Berkshire+RG7+5AG/@51.439206,-1.0712676,16z/data=!3m1!4b1!4m2!3m1!1s0x4876993a33b247bf:0x2e95038cb102ccd0">Old A4 at Theale, RG7 5AG.</a>
  <br> Session will start at 19:20
  <br>
  <br> This is a minimum mileage activity which can prove as effective as Interval Training. It can improve the cardiovascular
  fitness as much as an hour of moderate level aerobic running. The short bouts of exercise can improve muscle fitness and
  performance comparable to several weeks of traditional endurance training if it was done on a regular basis. However we
  are going to use it as part of the overall training sessions. It also improves the utilisation of oxygen to help the body
  rid itself of unwanted Lactic Acid
  <br>
  <br> There will be a thorough warm up including some drills.
  <div class="container">
    <div class="col-md-6 what-do">
      <ul>
        <li>4 x 60 meter strides before you start the session.</li>
        <li>6 x (Sprint 15 secs + 15 secs rest) at 75-85% effort.</li>
        <li>1 minute rest before next set. </li>
        <li>6 x (Sprint 20 secs + 20 secs rest) at 85-90% effort</li>
        <li>2 minute rest before next set. </li>
        <li>8 x (Sprint 20 secs + 20 secs rest) at 90-95% effort.</li>
        <li>3 minute rest before next set.</li>
        <li>2 x (Sprint 15 secs + 25 secs rest) at 95 + effort.</li>
        <li>4 minutes rest before starting next set if time permits.</li>
      </ul>
    </div>
  </div>
  Gentle warm down followed by stretch down to finish.
  <br> Aim:- To improve your aerobic and anaerobic capacity and running efficiency.
  <br>
</li>

<li class="list-group-item">
  <h3>02-Mar-2017 : Beat your distance</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Theale,+Reading,+West+Berkshire+RG7+5AG/@51.439206,-1.0712676,16z/data=!3m1!4b1!4m2!3m1!1s0x4876993a33b247bf:0x2e95038cb102ccd0">Old A4 at Theale, RG7 5AG.</a>
  <br> Session will start at 19:20
  <br>
  <br> You will be carrying a baton.
  <br> You will run for three minutes and then you will have a two minute active recovery.
  <br> There will be 5 or 6 sets in total, the aim is to beat your distance for every set.
  <br> There will be a thorough warm up including some drills. I will control this session with a whistle
</li>

<li class="list-group-item">
  <h3>10-Mar-2017 : Oregon or Complex Circuit</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf Community Centre, RG31 7AW.</a>
  <br> Session will start at 19:20. This session will be on the grass.
  <br>
  <br> This is aimed at conditioning work and endurance especially muscular. This incorporates several exercises based on general
  mobility, general conditioning and leg conditioning. The recoveries are 100 metre runs at a brisk pace. This also improves
  the cardiovascular and respiratory systems.
  <br>
  <br>
  <div class="container">
    <div class="col-md-6 what-do">
      <ul>
        <li>Bird Dog (Mobility)</li>
        <li>Leg Claps (Legs)</li>
        <li>Knees to Chest (Legs) - A 30 second break after this exercise.</li>
        <li>Star Jumps (Conditioning)</li>
        <li>Donkey Kicks (Legs)</li>
        <li>Shuttle Runs (Legs) - A 30 second break after this exercise.</li>
        <li>Push-ups countdown (conditioning)</li>
        <li>High Knees (Legs)</li>
        <li>Burpees (Conditioning)</li>
      </ul>
    </div>
  </div>
  As this session is hard, each exercise will last for about 20 seconds.
  <br>
</li>

<li class="list-group-item">
  <h3>12-Mar-2017 : 500m Scorpions</h3>
  Meet at
  <a href="https://www.google.com/maps/place/Reading+RG30+4QF,+UK/@51.4537445,-1.045622,17z/data=!3m1!4b1!4m2!3m1!1s0x4876996236af82bb:0xaf271528fcd2db75?hl=en-GB">Grafton Road/Lansdowne Road, RG30 4QF.</a>
  <br> Session will start at 19:20
  <br>
  <br> As the circuit is 500m it is ideal for tonight's session.
  <br> The first 400m is at just under 10K pace and the final 100m at a faster pace. Each 500m will be followed by a 1 minute
  recovery. The faster 100m is NOT an all out sprint.
  <br> During your recovery period, keep moving, walk or a very gentle jog and please do not stay on the path, to allow others
  to pass freely.
  <br>
  <br> The session will last 35-40 Minutes.
</li>

<li class="list-group-item">
  <h3>12-Mar-2017 : 1000m (2 x 500m) Scorpions</h3>
  Meet at
  <a href="https://www.google.com/maps/place/Reading+RG30+4QF,+UK/@51.4537445,-1.045622,17z/data=!3m1!4b1!4m2!3m1!1s0x4876996236af82bb:0xaf271528fcd2db75?hl=en-GB">Grafton Road/Lansdowne Road, RG30 4QF.</a>
  <br> Session will start at 19:20
  <br>
  <br> As the circuit is 500m it is ideal for tonight's session.
  <br> The first 400m is at just under 10K pace and the final 100m at a faster pace. You then continue on for another 400mm with
  the last 100m again at a faster pace. Each 1000m will be followed by a 2 minute recovery. The faster 100m is NOT an all
  out sprint.
  <br> During your recovery period, keep moving, walk or a very gentle jog and please do not stay on the path, to allow others
  to pass freely.
  <br>
  <br> The session will last 35-40 Minutes.
</li>

<li class="list-group-item">
  <h3>12-Mar-2017 : Long interval Scorpions</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf Community Centre, RG31 7AW.</a>
  <br> Session will start at 19:20
  <br>
  <br> The session tonight will be held on a circuit of approximately 950 metres of mainly gravel paths. This will be marked
  with flour although it is a straight forward course.
  <br> Run 750 to 800m at 10K pace, and the last 150 to 200m at a slightly faster pace (the sting in the tail), then recover
  for 200m at a relaxed pace.
  <br> Ideally each Scorpion should be at the same pace, (ideally 10K pace) that is all the first 750 to 800m and the faster
  150 to 200m should all be the same pace.
  <br> It would be advantageous if you wore a watch as consistency is the target.
</li>

<li class="list-group-item">
  <h3>12-Mar-2017 : Pyramid Session</h3>
  Meet at
  <a href="https://www.google.com/maps/place/Reading+RG30+4QF,+UK/@51.4537445,-1.045622,17z/data=!3m1!4b1!4m2!3m1!1s0x4876996236af82bb:0xaf271528fcd2db75?hl=en-GB">Grafton Road/Lansdowne Road, RG30 4QF.</a>
  <br> Session will start at 19:20
  <br>
  <br> As the circuit is 500m it is ideal for tonight's session.
  <br> A set will be a 500m (followed by 1 Mins recovery), 1000m (followed by 2 Mins recovery), 1500m (followed by 3 Mins recovery),
  1000m (2 Mins), 500m (1 Mins) pyramid.
  <br> During your recovery period, keep moving, walk or a very gentle jog and please do not stay on the path, to allow others
  to pass freely.
  <br>
  <br> The session will last 35-40 Mins and if you finish the set, start a second set until the timed session is complete..
</li>

<li class="list-group-item">
  <h3>12-Mar-2017 : Zigzag Runs</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Beansheaf+Community+Centre/@51.438765,-1.050468,17z/data=!3m1!4b1!4m2!3m1!1s0x4876995b2055a6c3:0x5e5d81beae0b0b3b">Beansheaf Community Centre, RG31 7AW.</a>
  <br> Session will start at 19:20
  <br>
  <br> This can be either a speed and acceleration drill or a strength-endurance session. This is dependent of the length of
  the zigzags. This session will be for strength-endurance. A series of six markers are placed at approximately 60m intervals.
  Six 60m sprints are made with approximately 90 degree turns around each marker. Because you have to decelerate to get round
  each marker and then accelerate to the next marker, this will improve both your co-ordination, strength and ability to
  accelerate. As a bonus this will help you in a race situation. You will then jog or walk back (the long three sided way)
  back to the start. Each set will consist of 4 or 5 runs and then a complete recovery of 4-5 minutes before the next set.
  There will be 2 or 3 sets. The long recovery will ensure maximum intensity for each set.
  <br> The time for this session will be 35-40 minutes.
  <br> This session will be on grass.
</li>

<li class="list-group-item">
  <h3>20-Mar-2017 : 200m and 300m intervals</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Palmer+Park,+London+Rd,+Reading,+Berkshire+RG1+3PA/@51.4523383,-0.9412298,17z/data=!4m2!3m1!1s0x487684c97195cac5:0xd8997bbf77a0d441">Palmer Park, RG6 1LF.</a>
  <br> Session is 18:30 to 19:30, (please arrive by 18:20)
  <br>
  <b>Fee is £1.50</b>, please pay Arthur (Not at reception)
  <br>
  <br> This is a speed session. Each interval should be treated as an individual 'race'.
  <br> Provided there are not too many whistles being blown at the track I will control this with a whistle. The coach for the
  university also uses whistles to control the session.
  <br> Bring a Watch but I will call out your time as you cross the finish line. You should try to keep each interval as near
  as possible to your time on the last 200/300 interval.
  <br>
  <br> Why are we doing this is a question you are probably asking yourselves as mainly endurance runners.
  <br> ALL endurance runners need to do this type of session otherwise your body will get so used to churning out the miles at
  one pace that when you need to up the pace your legs and body will not react.
  <br>
</li>

<li class="list-group-item">
  <h3>11-Mar-2017 : Scorpions</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Palmer+Park,+London+Rd,+Reading,+Berkshire+RG1+3PA/@51.4523383,-0.9412298,17z/data=!4m2!3m1!1s0x487684c97195cac5:0xd8997bbf77a0d441">Palmer Park, RG6 1LF.</a>
  <br> Session is 18:30 to 19:30, (please arrive by 18:20)
  <br>
  <b>Fee is £1.50</b>, please pay Arthur (Not at reception)
  <br>
  <br> Run 700m at 10K pace and the last 100m at a slightly faster pace, then recover for 400m at a relaxed pace.
  <br>
</li>

<li class="list-group-item">
  <h3>11-Mar-2017 : Pyramid</h3>
  Meet at
  <a href="https://www.google.co.uk/maps/place/Palmer+Park,+London+Rd,+Reading,+Berkshire+RG1+3PA/@51.4523383,-0.9412298,17z/data=!4m2!3m1!1s0x487684c97195cac5:0xd8997bbf77a0d441">Palmer Park, RG6 1LF.</a>
  <br> Session is 18:30 to 19:30, (please arrive by 18:20)
  <br>
  <b>Fee is £1.50</b>, please pay Arthur (Not at reception)
  <br>
  <br> 100m - 200m - 400m - 600m - 800m - 1000m - 800m - 600m - 400m - 200m - 100m with a 200m jog recovery between each effort.
  Total distance = 7200m.
  <br> To be run at faster than 10K pace during the efforts. There will be a chart available. The 100m is to be done at the same
  pace as the 1000m - Pace judgement over varying distances.
  <br> After the set a complete lap of 400m recovery and then start another set up to a maximum time of 40 minutes.
  <br>
</li>