<h2>Contact Us</h2>

<h3>Email</h3>
<p><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>

<h3>Social Media</h3>
<p>You can reach us on Facebook, Twitter, Instagram, and more.</p>
<p>See our <a routerLink="/social-media">Social Media</a> page for more details.</p>

<h2>Contact Us</h2>
<form name="freecontactform" method="post" action="php/freecontactformprocess.php">

      <div class="form-group">
            <label for="Full_Name">Name</label>
            <input type="text" class="form-control" id="Full_Name" placeholder="Enter your name" required>
      </div>

      <div class="form-group">
            <label for="Email_Address">Email Address</label>
            <input type="email" class="form-control" id="Email_Address" aria-describedby="emailHelp" placeholder="Enter email"
                  required>
      </div>

      <div class="form-group">
            <label for="Telephone_Number">Telephone Number (optional)</label>
            <input type="text" class="form-control" id="Telephone_Number" placeholder="Enter your telephone number">
      </div>

      <div class="form-group">
            <label for="Your_Message">Message</label>
            <textarea class="form-control" id="Your_Message" required></textarea>
      </div>

      <div class="form-group">
            <label for="AntiSpam"> Using only numbers, what is 2 + 3.</label>
            <input type="text" maxlength="1" class="form-control" id="AntiSpam" aria-describedby="antiSpamHelp" required>
            <small id="antiSpamHelp" class="form-text text-muted">To help prevent automated spam, please answer this
                  question.</small>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>