<div class="header-top">
  <div class="logo text-center">
    <h1><a href="index.html">Reading Joggers</a></h1>
  </div>
  <div class="navigation">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="hvr-bounce-to-bottom"><a href="index.html">Home</a></li>
            <li class="hvr-bounce-to-bottom"><a href="about.html">About</a></li>
            <li class="hvr-bounce-to-bottom"><a href="events.html">Events</a></li>
            <li class="hvr-bounce-to-bottom"><a href="gallery.html">Gallery</a></li>
            <li class="hvr-bounce-to-bottom"><a href="kit.html">Club Kit</a></li>
            <li class="hvr-bounce-to-bottom"><a href="contact.html">Contact Us</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="header-banner">
  <div class="banner">
  </div>
</div>

{{title}}

<div class="get-started">
  <div class="container">
      <h4></h4>
      <h3></h3>
  </div>
</div>
<div class="footer">
  <div class="container">
      <div class="copyright text-center">
          <p>&copy; 2018 Reading Joggers | <a href="doc/Reading_Joggers_Privacy_Notice.pdf">Privacy Notice</a> |
              <a href="https://twitter.com/ReadingJoggers"><img src="images/social_tw_black.png" alt="twitter" /></a>
              <a href="https://www.facebook.com/groups/ReadingJoggers"><img src="images/social_fb_black.png" alt="facebook"
                  /></a>
              <a href="https://www.flickr.com/groups/readingjoggers"><img src="images/social_fl_black.png" alt="flickr"
                  /></a>
              <a href="https://www.instagram.com/readingjoggers/"><img src="images/social_in_black.png" alt="instagram"
                  /></a>
              <a href="mailto:info@readingjoggers.org"><img src="images/social_em_black.png" alt="email us" /></a>
          </p>
      </div>
  </div>
</div>