<h2>Social Events</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Curry Evening @ Reading Tandoori</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sunday 21st October, 7pm at Reading Tandoori, Oxford Road</h6>
    <p class="card-text">An all you can eat buffet for about £7.95, this has now been confirmed by the curry house and
      we can keep drinks
      separate from the bill too.</p>
    <a href="https://www.facebook.com/events/782131295290973/" class="card-link">Facebook Event</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Christmas Meal @ Zero Degrees</h5>
    <h6 class="card-subtitle mb-2 text-muted">Saturday 8th December, 7pm at Reading Tandoori, Oxford Road</h6>
    <p class="card-text">A table has been provisionally booked for 6:30pm for 20 people.</p>
    <p class="card-text">Anyone not able to make the meal is welcome to join us for drinks afterwards.</p>
    <a href="https://www.facebook.com/events/531190850660555/" class="card-link">Facebook Event</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Round Reading Relay</h5>
    <h6 class="card-subtitle mb-2 text-muted">September 2019 (TBC)</h6>
    <p class="card-text">Details to follow.</p>
  </div>
</div>