<h2>Social Events</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Christmas Meal @ Zero Degrees</h5>
    <h6 class="card-subtitle mb-2 text-muted">Saturday 8th December, 7pm at Reading Tandoori, Oxford Road</h6>
    <p class="card-text">A table has been provisionally booked for 6:30pm for 20 people.</p>
    <p class="card-text">Anyone not able to make the meal is welcome to join us for drinks afterwards.</p>
    <a href="https://www.facebook.com/events/531190850660555/" class="card-link">Facebook Event</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Club Christmas Outrun</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sunday 16th December, 9:30am</h6>
    <p class="card-text">Runners and walkers. Family welcome. Venue and more details to follow.</p>
    <a href="https://www.facebook.com/events/333266954072864/" class="card-link">Facebook Event</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Round Reading Relay</h5>
    <h6 class="card-subtitle mb-2 text-muted">September 2019 (TBC)</h6>
    <p class="card-text">Details to follow.</p>
  </div>
</div>