<h2>Winter Handicap</h2>
<div class="alert alert-success" role="alert"> The 28th season (2018-2019) of the Reading Joggers Winter Handicap is
  underway. </div>
<p>We meet in <a href="/find-us/other-locations">Sulham Hill Car Park</a> at 9:20am for 9:30am start. After a briefing,
  the first runners will be away by 9:40am.</p>
<p>The total distance is 7 miles (11.3km) over three laps of trail through woodland and fields. Please wear appropriate
  shoes and clothing if wet/cold.</p>
<p>If you have not yet tried the winter handicaps it is a good run with a couple of hills on each lap and it could be
  wet, muddy and slippery. There are also tree roots so care is needed, especially when the leaves have fallen. </p>
<p> The course is marked with flour to show the route only. </p>
<p> As is common with a cross-country course, there may be hidden roots or slippery areas, so please take care. All
  participants run at their own risk. </p>
<p> As there are only six handicaps in the winter, your best three finishes will count in the final placings. But if
  you have not taken part in the winter series before, did not run last season or complete the full distance you will
  need to run 4 of the 6. We need the extra race to establish a handicap for you. </p>
<p> Please note that only fully paid up members will be eligible for points but guests are welcome to take part in a
  maximum of 2 runs before being required to join the club and pay the membership fee. </p>
<p>At the end, please make a note of your time as a back-up to the results.</p>
<p> Those taking part will be sent off in small groups roughly related to your handicap time. </p>
<p>For this year we have simplified the calculation of your handicap to be the average of your handicap prior to your
  last run, and your last run time.</p>
<p>Please <a routerLink="">contact us</a> if you available beforehand to help mark the course.</p>
<h4>Schedule</h4>
<ul>
  <li>Winter Handicap 1 - Sunday 28th October 2018</li>
  <li>Winter Handicap 2 - Sunday 18th November 2018</li>
  <li>Winter Handicap 3 - Sunday 13th January 2019</li>
  <li>Winter Handicap 4 - Sunday 3rd February 2019 (cancelled)</li>
  <li>Winter Handicap 5 - Sunday 10th March 2019 (new date to avoid Goring 10K)</li>
  <li>Winter Handicap 6 - Sunday 24th March 2019</li>
</ul>
<h4>Route</h4>
<iframe height='405' class="w-100" frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/16515081/embed'></iframe>
