<h2>Winter Handicap</h2>

<ul>
  <li>You only have to complete three of the six, or four of the six if you have not run the winter handicap before
    or did not run it last season</li>
  <li>We meet in <a href="/find-us/other-locations">Sulham Hill Car Park</a> at 9:20am for 9:30am start</li>
  <li>The total distance is 7.58 miles (TBC) over three laps</li>
  <li>Please <a routerLink="">contact us</a> if you available beforehand to help mark the course</li>
</ul>

<h4>Route</h4>

<p><a href="https://www.strava.com/segments/13109110">Winter Handicap Strava segment (2016)</a></p>

<h4>Schedule</h4>

<ul>
<li>Winter Handicap 1 - Sunday 28th October 2018</li>
<li>Winter Handicap 2 - Sunday 18th November 2018</li>
<li>Winter Handicap 3 - Sunday 3rd February 2019</li>
<li>Winter Handicap 4 - Sunday 3rd March 2019</li>
<li>Winter Handicap 5 - Sunday 3rd March 2019</li>
<li>Winter Handicap 6 - Sunday 24th March 2019</li>
</ul>