<h2>Winter Handicap</h2>
<div class="alert alert-success" role="alert">The 29th season (2019-2020) of the Reading Joggers Winter Handicap is now
  underway.</div>
<p>The course starts at the Pangbourne Rec Car Park (RG8 7BY), and then progresses to Sulham Woods where you do 'lap 2'
  of the old course. The return is by the same route. We meet at at 9:20am for 9:30am start. After a briefing, the first
  runners will be away by 9:40am.</p>
<p>The course is approximately 6.7 miles and is multiterrain. Please wear appropriate shoes and clothing if wet/cold.It
  is not suitable for spikes. </p>
<p>There is one road crossing on the new route - please take care </p>
<p>If you have not yet tried the winter handicaps it is a good run with a couple of hills and it could be wet, muddy and
  slippery. There are also tree roots so care is needed. </p>
<p>The course is marked with flour to show the route only. As it is new there will be printed copies of route handy for
  the first few. </p>
<p>As is common with a cross-country course, there may be hidden roots or slippery areas, so please take care. All
  participants run at their own risk. </p>
<p>After the run we will meet at tba Pangbourne cafe for hot drinks and cakes </p>
<p>This year there will be 6 Winter handicaps. Your best three finishes will count in the final placings. But if you
  have not taken part in the winter series before, did not run last season or complete the full distance you will need
  to run 4 of them. We need the extra race to establish a handicap for you. This is the reason your name may not appear
  in the list below. </p>
<p>Please note that only fully paid up members will be eligible for points but guests are welcome to take part in a
  maximum of 2 runs before being required to join the club and pay the membership fee. </p>
<p>Below are listed your name and handicap based on the results of the 2018/19 Winter Handicaps. </p>
<p>Those taking part will be sent off in small groups roughly related to your handicap time. </p>
<p>At the end, please make a note of your time as a back-up to the results. </p>
<p>This handicap will only run if we have sufficient volunteers to help mark the course (you can still run!) and/or run
  the event. Please let us know if you can help via email or facebook. We need 2 people to help mark per week for a ~8
  am start. </p>
<p>Marker one will do the section from Pangbourne to Beech Road (approx 2 miles each way) </p>
<p>Marker two will do the Sulham Woods section (start from Sulham Woods car park) (approx 2 miles total) </p>
<h4>Schedule</h4>
<ul>
  <li>Winter Handicap 1 - Sunday 3rd November 2019</li>
  <li>Winter Handicap 2 - Sunday 24th November 2019</li>
  <li>Winter Handicap 3 - Sunday 12th January 2020</li>
  <li>Winter Handicap 4 - Sunday 2nd February 2020</li>
  <li>Winter Handicap 5 - Sunday 8th March 2020</li>
  <li>Winter Handicap 6 - Sunday 29th March 2020</li>
</ul>
<h4>Route</h4> The new route is linked here: <a
  href="https://www.plotaroute.com/route/950440">https://www.plotaroute.com/route/950440</a>