<h3>The Committee</h3>

<h3>Chairman – Simon Riviere</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/simon-riviere.jpg" alt="Simon Riviere" width="300px" />

<h3>Secretary – Rebecca Marks</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/rebecca-marks.jpg" alt="Rebecca Marks" width="300px" />

<h3>Treasurer – Laura McBride</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/laura-mcbride.jpg" alt="Laura McBride" width="300px" />

<h3>Membership Secretary – Mary Wilson</h3>
Contact – <a href="mailto:membership@readingjoggers.org">membership@readingjoggers.org</a>
<br />
<img src="images/committee/mary-wilson.jpg" alt="Mary Wilson" width="300px" />

<h3>Club Kit – Jayne Woodhouse</h3>
Contact – <a href="mailto:kit@readingjoggers.org">kit@readingjoggers.org</a>
<br />
<img src="images/committee/jayne-woodhouse.jpg" alt="Jayne Woodhouse" width="300px" />

<h3>Club Captain – James Greaves</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/james-greaves.jpg" alt="James Greaves" width="300px" />

<h3>Social Secretaries – Dafni Athini-Barter and Dan Gurney</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/dafni-athini-barter.jpg" alt="Dafni-Athini Barter" width="300px" /><img src="images/committee/dan-gurney.jpg"
  alt="Dan Gurney" width="300px" />

<h3>Footprint Editor – Cliff Marriott</h3>
Contact – <a href="mailto:footprint@readingjoggers.org">footprint@readingjoggers.org</a>
<br />
<img src="images/committee/cliff-marriott.jpg" alt="Cliff Marriott" width="300px" />

<h3>General Committee Member – Gina Hopkins</h3>
Contact – <a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a>
<br />
<img src="images/committee/gina-hopkins.jpg" alt="Gina Hopkins" width="300px" />