<h2>The Committee</h2>

<div class="row pt-3">
  <div class="col">

    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="images/committee/simon-riviere.jpg" alt="Simon Riviere">
        <div class="card-body">
          <h5 class="card-title">Chairman – Simon Riviere</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/rebecca-marks.jpg" alt="Rebecca Marks">
        <div class="card-body">
          <h5 class="card-title">Secretary – Rebecca Marks</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/laura-mcbride.jpg" alt="Laura McBride">
        <div class="card-body">
          <h5 class="card-title">Treasurer – Laura McBride</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="row pt-3">
  <div class="col">

    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="images/committee/mary-wilson.jpg" alt="Mary Wilson">
        <div class="card-body">
          <h5 class="card-title">Membership Secretary – Mary Wilson</h5>
          <p class="card-text"><a href="mailto:membership@readingjoggers.org">membership@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/jayne-woodhouse.jpg" alt="Jayne Woodhouse">
        <div class="card-body">
          <h5 class="card-title">Club Kit – Jayne Woodhouse</h5>
          <p class="card-text"><a href="mailto:kit@readingjoggers.org">kit@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/james-greaves.jpg" alt="James Greaves">
        <div class="card-body">
          <h5 class="card-title">Club Captain – James Greaves</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

    </div>


  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="images/committee/dafni-athini-barter.jpg" alt="Dafni-Athini Barter">
        <div class="card-body">
          <h5 class="card-title">Social Secretary – Dafni Athini-Barter</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/dan-gurney.jpg" alt="Dan Gurney">
        <div class="card-body">
          <h5 class="card-title">Social Secretary – Dan Gurney</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/committee/cliff-marriott.jpg" alt="Cliff Marriott">
        <div class="card-body">
          <h5 class="card-title">Footprint Editor – Cliff Marriott</h5>
          <p class="card-text"><a href="mailto:footprint@readingjoggers.org">footprint@readingjoggers.org</a></p>
        </div>
      </div>

    </div>


  </div></div>
  <div class="row pt-3">
      <div class="col">

    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="images/committee/gina-hopkins.jpg" alt="Gina Hopkins">
        <div class="card-body">
          <h5 class="card-title">General Committee Member – Gina Hopkins</h5>
          <p class="card-text"><a href="mailto:info@readingjoggers.org">info@readingjoggers.org</a></p>
        </div>
      </div>

    </div>

  </div>
</div>