<div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Training - 1000m Scorpions @ Lansdowne Road / Grafton Road Circuit
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Thursday 28th March 2019, 7pm for a 7:20pm start
      </h6>
      <p class="card-text">
        The first 900m is at just under 10K pace and the final 100m at a faster pace. Each 1000m will be followed by a 3 minute recovery. The faster 100m is NOT an all out sprint, more like just under 5K pace.
      </p>
      <p class="card-text">
        The session will last 35-40 Minutes.
      </p>
      <p class="card-text">
        During your recovery period, keep moving, walk or a very gentle jog and
        please do not stay on the path, to allow others to pass freely.
      </p>
      <p class="card-text">
        Meet at
        <a routerLink="/find-us/other-locations"
          >Lansdowne Road / Grafton Road Circuit (Burlington Road)</a
        >.
      </p>
    </div>
  </div>