<div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Training - High Intensity Training (HIT) or High Intensity Interval
        Training (HIIT) @ Theale
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Thursday 21st March 2019, 7pm for a 7:20pm start
      </h6>
      <p class="card-text">
        Meet at
        <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> or
        <a routerLink="/find-us/other-locations">Theale</a>.
      </p>
      <p class="card-text">
        This session will be on the old A4 at Theale. It is well lit.
      </p>
      <p class="card-text">
        You can either meet at <a routerLink="/find-us/beansheaf">Beansheaf Community Centre</a> or at <a routerLink="/find-us/other-locations">High Street (The Old A4), Theale</a>. Arthur will be going direct to
        the site.
      </p>
      <p class="card-text">
        This is a minimum mileage activity which can prove as effective as
        Interval Training. It can improve the cardiovascular fitness as much as an
        hour of moderate level aerobic running (Tuesday evenings) The short bouts
        of exercise can improve muscle fitness and performance comparable to
        several weeks of traditional endurance training if it was done on a
        regular basis. However we are going to use it as part of the overall
        training sessions. It also improves the utilisation of oxygen to help the
        body rid itself of unwanted lactic acid.
      </p>
      <p class="card-text">
        There will be a thorough warm up including some drills.
      </p>
      <p class="card-text"></p>
      <ul>
        <li>4 to 6 x 60 metre strides before you start the session.</li>
        <li>6 x (Sprint 15 secs + 15 secs rest) at 75-85% effort.</li>
        <li>2 minute rest before next set.</li>
        <li>6 x (Sprint 20 secs + 20 secs rest) at 85-90% effort</li>
        <li>3 minute rest before next set.</li>
        <li>8 x (Sprint 20 secs + 25 secs rest) at 90-95% effort.</li>
        <li>4 minute rest before next set.</li>
        <li>2 x (Sprint 15 secs + 30 secs rest) at 95%+ effort.</li>
      </ul>
      <p class="card-text">
        Possibly 2 sets or 1 complete set and part of the second set. This is a
        short session but it is hard. Gentle warm down followed by stretch down to
        finish.
      </p>
      <p class="card-text">
        Aim: To improve your aerobic and anaerobic capacity and running
        efficiency.
      </p>
      <p class="card-text">Arthur will control this with a whistle.</p>
    </div>
  </div>