<div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Three minute cycle @ Prospect Park
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Thursday 7th February 2019, 7pm for a 7:20pm start
      </h6>
      <p class="card-text">
        This is held on the path between the Bath Road and the Car Park.
  </p><p>
        There will be 70 seconds of effort followed by 1 minute 50 seconds of active recovery.
      </p><p>
        The first set will be 5 reps, and then an extra 5 minutes rest.
      </p><p>
        The second and last set will be 3 or 4 reps.
      </p><p>
        The session will last between 30 and 35 minutes.
      </p><p>
        This is aimed at increasing endurance and speed.
      </p><p>
        Arthur will control this session with a with a whistle
      </p>
    </div>
  </div>