<div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Training - Up and Down @ Prospect Park
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Thursday 7th March 2019, 7pm for a 7:20pm start
      </h6>
      <p class="card-text">
        Meet at
        <a routerLink="/find-us/prospect-park">Prospect Park</a>.
      </p>
      <p class="card-text">
        1000m continuous by returning immediately followed by a 2 minute recovery.
      </p>
      <p class="card-text">
        Start at tennis courts and run up towards the Mansion House and then down
        toward the bowling green and turn and return immediately to the tennis
        courts.
      </p>
      <p class="card-text">
        There will be a 2 minutes recovery period after each rep.
      </p>
      <p class="card-text">Please keep to the left in each direction.</p>
      <p class="card-text">
        Repeat the above until the set time is reached (about 35 to 40 minutes).
      </p>
      <p class="card-text">
        Aim: Correct running uphill, maintaining the effort at the top and then
        correct relaxed running downhill
      </p>
    </div>
  </div>