<div class="row">
  <div class="col">
    <div class="jumbotron">

        <div class="row">
            <div class="col-9">
                <h2 class="display-4 text-uppercase">Welcome to Reading Joggers</h2>
                <p class="lead">Just starting to run? Tired of running on your own? Preparing for a race? Whatever your ability,
                  if
                  you are looking for a
                  friendly, local jogging club, we could be just what you are looking for. All abilities and ages welcome.
                  <br> Look around our website, or just come along to the Beansheaf Community Centre, Charrington Road, Calcot,
                  Reading,
                  RG31 7AW on a Tuesday or Thursday evening at 7:00 pm where a warm welcome awaits you.</p>

              </div>
              <div class="col-3">
                  <p>Reading Joggers - <strong>Running since 1977</strong></p>
                  <p>The club is affiliated to England Athletics.</p>
                  <p>Club meets every Tuesday and Thursday at 7:00 pm.</p>
                  <p>Discounts at local sports shops.</p>
                  <p>Club Handicap races organised throughout the year.</p>

                </div>
</div>

      
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="about">About Us</a></h5>
          <p class="card-text">Reading Joggers is a small and friendly running club. We have about 150 active members
            ranging in age from 18 to
            80+</p>
        </div>
        <div class="card-footer">
          <a routerLink="../about" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/about">Events</a></h5>
          <p class="card-text">Club runs, Training, Summer & Winter Handicap, Consistency league</p>
        </div>
        <div class="card-footer">
          <a routerLink="../events" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="images/b3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="../social-media">Social Media</a></h5>
          <p class="card-text">Blogs, News, tweets</p>
        </div>
        <div class="card-footer">
          <a routerLink="../social-media" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="../contact">Contact Us</a></h5>
          <p class="card-text">Beansheaf Community Centre
            <br />Charrington Road, Calcot,
            <br />Reading, RG31 7AW</p>
        </div>
        <div class="card-footer">
          <a routerLink="../contact" class="btn btn-primary">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</div>